<!--<div class="sidenav">-->
<!--  <ul>-->
<!--    <li>DashBoard</li>-->
<!--   <li><a >Overview</a></li>-->
<!--    <li ngbDropdown class="nav-item dropdown" style="padding-left: 10px" routerLinkActive="active">-->
<!--      <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>Bookings</b></a>-->
<!--      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01" routerLinkActive="active">-->
<!--        <a class="dropdown-item nav-link" >create orders</a>-->
<!--        <a class="dropdown-item nav-link" >All orders</a>-->
<!--      </div>-->
<!--    </li>-->
<!--   <li><a>Employment</a></li>-->
<!--   <li><a>Users</a></li>-->
<!--    <li><a>App/Web images</a></li>-->
<!--    <li><a>service category</a></li>-->
<!--    <hr class="hr">-->
<!--    <li><a>Settings</a></li>-->
<!--  </ul>-->
<!--</div>-->
<p id="title">New Internship Form</p>
<div id="rule"></div>
    <form [formGroup]="form">
     <div>
       <p id="candidatename">Candidate Name*</p>
       <input id="name" type="text"  formControlName="name" class="form-control" placeholder="Candidate Name*">
       <div class="alert-danger" *ngIf="username.touched && username.invalid">
         <div class="alert-danger namevalidation" *ngIf="username.errors.required">Name Required </div>
         <div class="alert-danger namevalidation" *ngIf="username.errors.minlength">Required min 5 length</div>
       </div>
     </div>

      <div><p id="contacts" class="contactdetails">Contact*</p>
        <p id="spanning" class="spancontact"> </p>
       <input  type="text" class="form-control contact" placeholder="Contact*" formControlName="phone">
        <div class="alert-danger" *ngIf="phone.touched && phone.invalid">
          <div class="alert-danger contactvalidation" *ngIf="phone.errors.required">Contact Required</div>
          <div class="alert-danger contactvalidation" *ngIf="phone.errors.minlength">Required min 10 length</div>
          <div class="alert-danger contactvalidation" *ngIf="phone.errors.maxlength">Max Length is 10</div>
          <div class="alert-danger contactvalidation" *ngIf="phone.errors.pattern">Invalid number</div>
        </div>
        <button id="bt1" class="btn btn-dark" (click)="addcontact()">Add Another</button>
      </div>

      <div>
        <p id="emailid">Email*</p>
       <input id="email"  formControlName="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email*">
        <div class="alert-danger " *ngIf="mail.touched && mail.invalid">
          <div class="alert-danger emailvalidation" *ngIf="mail.errors.required">Email Required </div>
          <div class="alert-danger emailvalidation" *ngIf="mail.errors.email">Invalid Email</div>
        </div>
      <div >
      </div>
        <div>
        <p id="internduration">internship duration*</p><label for="duration">
        </label><select name="Duration" id="duration" formControlName="interndurtion">
          <option value="">internship duration*</option>
          <option value="1month">1 month</option>
          <option value="2months">2 months</option>
          <option value="3months">3 months</option>
          <option value="4months">4 months</option>
          <option value="5months">5 months</option>
          <option value="6months">6 months</option>
        </select>
      </div>
      </div>
     <div >
       <p id="datepickers">SelectStartingDate*</p>
    <label for="date"></label>
  <input type="date" id="date" name="birthday">
  </div>
      <div >
        <p id="teams">Select Team*</p><label for="team"></label><select id="team" name="Team" formControlName="team">
          <option value="">Select Team*</option>
          <option value="AndriodDevelopment">AndriodDevelopment</option>
          <option value="JavaDeveloper">JavaDeveloper</option>
          <option value="Angulardeveloper">Angulardeveloper</option>
          <option value="AppDevelopment">AppDevelopment</option>
        <option value="Marketing">Marketing</option>
        <option value="ArtificialIntiligence">Artificial Intiligence</option>
        <option value="Human Resource">Human Resource</option>
        <option value="Flutter development">Flutter development</option>
        <option value="Digital Marketing">Digital Marketing</option>
        <option value="Content writing">Content writing</option>
        <option value="content Marketing">content Marketing</option>
        <option value="Quality Analysis">Quality Analysis</option>
        <option value="Charted Accountent">Charted Accountent</option>
        <option value="Other"> Other</option>
        </select></div>
      <div >
        <p id="payments">Payment Type*</p><label for="payment"></label><select id="payment" name="Payment" formControlName="payment">
          <option value="">Payment Type*</option>
          <option value="paid">paid</option>
        <option value="unpaid">unpaid</option>
        </select></div>
      <div >
        <p id="experiences">Experience*</p><label for="experience"></label>
        <select id="experience" name="experience" formControlName="experience">
          <option value="">Experience</option>
        <option value="fresher">fresher*</option>
          <option value="1month">1 month</option>
          <option value="2months">2 months</option>
          <option value="3months">3 months</option>
          <option value="4months">4 months</option>
          <option value="5months">5 months</option>
        <option value="6months">5 months</option>
        <option value="1year">1 year</option>
        <option value="2years">2 years</option>
        </select>

      </div>

     <div><p id="collegenames">College Name*</p>
       <label for="collegename"></label>
       <input id="collegename" type="text" class="form-control" placeholder="college Name*" formControlName="collegename">
       <div class="alert-danger" *ngIf="collegename.touched && collegename.invalid">
         <div class="alert-danger collegename" *ngIf="collegename.errors.required"> collegename Required</div>
         <div class="alert-danger collegename" *ngIf="collegename.errors.minlength">Required min 20 length</div>
       </div>
     </div>


      <div><p id="collegecontacts">College Contact*</p>
        <label for="collegecontact"></label>
        <input id="collegecontact" type="text" class="form-control" placeholder="college Contact *" formControlName="collegecontact">
        <div class="alert-danger" *ngIf="collegecontact.touched && collegecontact.invalid">
          <div class="alert-danger collegecontact" *ngIf="collegecontact.errors.required">College Contact Required</div>
          <div class="alert-danger collegecontact" *ngIf="collegecontact.errors.minlength">Required min 10 length</div>
          <div class="alert-danger collegecontact" *ngIf="collegecontact.errors.maxlength">Max Length is 10</div>
          <div class="alert-danger collegecontact" *ngIf="collegecontact.errors.pattern">Invalid ContactNumber</div>
        </div>
        <button id="bt2" class="btn btn-dark" (click)="addcontact()">Add Another</button>
      </div>


     <div> <p id="collegeadres">CollegeAddress*</p>
       <label for="collegeadress"></label>
       <textarea id="collegeadress" class="form-control" placeholder="college Adress*" formControlName="collegeaddress"></textarea>
       <div class="alert-danger" *ngIf="collegeaddress.touched && collegeaddress.invalid">
         <div class="alert-danger collegeaddress" *ngIf="collegeaddress.errors.required">collegeaddress Required</div>
         <div class="alert-danger collegeaddress" *ngIf="collegeaddress.errors.minlength">Required min 20 length</div>
       </div>
     </div>

      <div>
        <p id="candiaddres">Candidate Address*</p>
        <label for="candiaddress"></label>
        <textarea id="candiaddress" class="form-control" placeholder="Enter Candidate Proper Address*" formControlName="candidateaddress"></textarea>
        <div class="alert-danger" *ngIf="candidateaddress.touched && candidateaddress.invalid">
          <div class="alert-danger candidateaddress" *ngIf="candidateaddress.errors.required">candidateaddress Required</div>
          <div class="alert-danger candidateaddress" *ngIf="candidateaddress.errors.minlength">Required min 20 length</div>
        </div>
      </div>
      <div>
        <p id="statusname">Change Status*</p>
        <label for="stat"></label><select name="stat" id="stat" formControlName="status">
        <option value="">select status</option>
        <option value="Active">Active</option>
        <option value="left"> left</option>
        <option value="completed">completed</option>
        <option value="pause">pause</option>
      </select>
      </div>

      <p id="candidatedocs">Candidate Documents</p>
<div id="rule2"></div>
<p id="picture">Upload Picture</p>
      <div id="pictureupload"><input id="uploadbtn" type="file" formControlName="pictureupload" accept="image/*" (change)="preview($event)"><p>+</p></div>

<p id="docs">Docs</p>
<p id="joinletter">Joining Letter</p>
     <div id="joiningletter"><input   id="joiningletterbtn" type="file" formControlName="joiningletter" ><p>+</p></div>
      <p id="resumedoc">Resume</p>
      <div id="resume"><input  id="resumebtn" type="file" formControlName="resume"><p>+</p></div>
      <p id="nocdoc">NOC</p>
        <div id="noc"><input id="nocbtn" type="file" formControlName="noc"><p>+</p></div>
<p id="aadhar">Aadhar</p>
      <p id="front">front</p>
      <div id="frontaadhar"><input  id="frontaadharbtn" type="file" formControlName="frontaadhar"><p>+</p></div>
      <p id="back">back</p>
      <div id="backaadhar"><input id="backaadharbtn" type="file" formControlName="backaadhar"><p>+</p></div>
<p id="pan">Pan</p>
      <p id="pfront">front</p>
       <div id="frontpan"><input id="frontpanbtn" type="file" formControlName="frontpan"><p>+</p></div>
      <p id="pback">back</p>
     <div id="backpan"><input id="backpanbtn" type="file" formControlName="backpan"><p>+</p></div>
      <p id="msg">confirm all the filled data before submitting</p>
      <button id="btns" type="submit" class="btn btn-dark" (click)="submit(form.value)">Submit</button>
    </form>
